<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-ios-camera-usage-desc" version="0.0.1">
    <name>iOS Camera and Photi Library Useage Descirtion</name>
    <description>This plugin sets NSCameraUsageDescription and NSPhotoLibraryUsageDescription to false in *-Info.plist file</description>
    <license>Apache</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <!-- ios -->
    <platform name="ios">
      <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
        <string>This app uses the camera to take pictures of things.</string>
      </config-file>
      <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
        <string>This app uses the photos to upload.</string>
      </config-file>
    </platform>
</plugin>
